params {
  project_folder       = "$PWD"
  pipelines_root       = "/ictstr01/groups/idc/projects/uhlenhaut/jiang/pipelines"
  flat_output_root     = null
  multiqc_output       = "multiqc_output"
  multiqc_report_name  = "multiqc_report.html"
  multiqc_title        = "ChIP-seq Pipeline Summary"
  multiqc_force        = true
  multiqc_config       = null
  multiqc_extra_paths  = null

  container_multiqc    = "/ictstr01/groups/idc/projects/uhlenhaut/jiang/singularity_image/multiqc-1.32.sif"
  queue                = "cpu_p"
  extra_mounts         = ""

  cpus                 = 2
  memory               = "8 GB"
  time                 = "2h"
}

profiles {
  local { includeConfig "configs/local.config" }
  hpc   { includeConfig "configs/slurm.config" }
}
